/* Universal Styles */

html {
  font-size: 18px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Head Banner */

/* Gray Background Section */

/* Orientation Date Section */

/* Start Learning Section *?

/* Thesis Exhibit Section */

/* Bottom Banner Section */
