/* Universal Styles */

html {
  font-size: 18px;
  box-sizing: border-box;
  line-height: 1.4rem;
  font-family: "Roboto";
}

*, *:before, *:after {
  box-sizing: inherit;
}

.mobile {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 1.7rem;
  color: #444444;
}

.top {
  font-size: 1rem;
  font-weight: bold;
  padding: .3rem 1rem;
}

.middle {
  font-size: .7rem;
  padding: .3rem 1rem;
}

.blue {
  padding: .3rem 1rem;
  font-size: .8rem;
}

li a {
  text-decoration: none;
}

.six-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.courses {
  font-size: .8rem;
  font-weight: lighter;
}

.white {
  background-color: white;
}
/* Head Banner */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4.5rem;
  background-color: white
}

.header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.2rem;
}

.header span {
  padding: .6rem;
}

nav span {
  display: inline-block;
  padding: 1.1rem .6rem;
}

.menu {
  align-items: right;
  padding-right: 2.1rem;
}

.black {
  color: black;
  font-weight: bold;
  margin-right: -1.1rem;
  margin-left: -.5rem;
}

.gray {
  color: gray;
}

/* Gray Background Section */

.container {
  background-color: lightgray;
  height: 5rem;
  padding-top: 6.5rem;
  height: 39rem;
}

.learn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8rem
}

.images img {
  height: 30rem;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.learn {
  font-size: 2.2rem;
  padding: 1.6rem 0;
  font-weight: bold;
  color: #444444;
}

.learn h2 {
  padding: .2rem .2rem;
}

.latin {
  font-weight: bold;
  color: #444444;
}

.latin p {
  padding: .2rem .2rem;
}

.button {
  background-color: #444444;
  padding: .5rem 0;
  text-align: center;
  border-radius: .2rem;
  margin-top: 2rem;
}

.button span {
  padding: 1rem 6.3rem;
  color: white;
}

/* Orientation Date Section */

.colmuns {
  background-color: white;
  display: flex;
  align-items: center;
  padding-top: 1.8rem;
}

.flex-container {
  display: flex;
  padding-top: 1.8rem;
}

.column.left {
  padding-left: 2rem;
}

.column.left img {
  width: 77%;
  height: auto;
}

.column.left h1 {
  padding-top: 1.8rem;
}

.latin-paragraph {
  padding-top: 1.3rem;
  font-size: .7rem;
}

.emmanuel {
  padding-top: 2rem;
  font-size: .7rem;
  font-weight: bold;
}

.img-section {
  display: flex;
  align-items: center;
  margin: .03rem 0;
  padding: .5rem 0;
  padding-left: .5rem;
  border: 1px solid gray;
}

.img-section img {
  width: 27%;
  height: 8rem;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.darker-background {
  background-color: lightgray;
}

/* Start Learning Section */

.image-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem -1rem;
  margin: 0 -5rem;
}

.start {
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 0;
  background-color: lightgray;
}

.start-learning {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.six {
  width: 60%;
  height: auto;
}

/* Thesis Exhibit Section */

.thesis {
  text-align: center;
}

.thesis-exhibit {
  display: flex;
}

/* Bottom Banner Section */
